<div class="guiBox span24">
    <div class="span10">
            <div class="box-content">
                <form class="form-condensed">
                <fieldset class="required">
                    <label>Change Identity type</label>
                    <select name="identityType" id="identityType" class="required">
					</select>
                </fieldset>              
                <fieldset class="required">
                    <label>Old ID</label>
                    <input type="text" name="oldId" required class="required"/>
                </fieldset>
				<fieldset class="required">
                    <label>New ID</label>
                    <input type="text" name="newId" required class="required"/>
                </fieldset>
                </form>			
            </div>
    </div>
	<div class="span12">
            <div class="box-content">
            <div id="swapDiv" style="display:none;">
            <input type="radio" name="TIME" value="swap" id="swap"> swap 
            <span id="changeIdProceeding"></span>
            
            </div>
            </div>
    </div>
</div>