<div class="box" id="fcoViewDiv">
            <div class="box-title">
               <span style="font-weight: bolder; font-size:large; color: #F47500; float:left"><%= $("#fcoAccordin").text() %></span>
            </div>
            <div class="box-content" id="fcoDiv">
           
            </div>
  
	<div class="row-fluid">
           
            <div id="buttonPanel">
			<div class="box-content">
			<button class="btn" id="changeIdMode">Change Id</button>
			<button class="btn" id="changeIdCancel"><i class="icon-undo"></i>Cancel</button>
			</div>
            </div>
    </div>
 </div>