<div class="box">
	<span style="font-weight: bolder; font-size:large; color: #F47500"><%= $("#fcoAccordin").text() %></span>
	<div id="deleteModeDiv" style="float: right">
		<i class="icon-2x icon-remove-circle" id="deleteMode" data-toggle="modal" name="Delete" title="Delete"></i>	
	</div>
	<div id="editModeDiv" style="float:right">
		<select id="updateViewType" style="display:none;">
		</select>
		<i class="icon-2x icon-edit" name="Edit" id="editMode" title="Edit"></i>
	</div>
	<div id="childDiv"  style="padding-top:22px">
		<div id="fcoDiv" class="pre-scrollable span24 box"></div>
	</div>
</div>