<div class="row-fluid">
 <div class="span24"> 
<div class="horizontal span19">
		<ul>
<li> On</li>
<li><select name="fcoType" id="fcoType"  style="width:142px"></select> </li>
<li> on Key</li>
<li> <select name="uniqueId" id="uniqueId"  style="width:142px"></select></li>
<li> with value</li>
<li><input type="text" id="uniqueIdValue" class="span" name="uniqueIdValue" title="unique identifier"/> </li>
<li> <button class="btn submit" title="Search" name="submit" value="Search" id="Search"><i class="icon-x icon-search"></i></button></li>
<!--li> <button class="btn submit" name="SearchAll" value="SearchAll" id="SearchAll"><i class="icon-x icon-search">Search All</i></button></li-->
           </div>
<div class="span5">
<li class="btn-group"><a
			class="btn-link dropdown-toggle" data-toggle="dropdown"
			href="#" rel="tooltip" data-placement="top"> <span
				class="corner-left"></span> <span class="corner-right"></span>
				<button role="button" class="btn" id="toolBox" data-toggle="modal">
					<i class="icon-cog"></i><span class="caret"></span>
				</button>

		</a>
			<ul class="dropdown-menu">
				<li><a href="#modal-1" role="button" rel="tooltip" data-placement="right" data-toggle="modal" id="createDropdown">Create</a></li>
				<li><a href="#modal-2" rel="tooltip" data-placement="right" data-toggle="modal" id="changeIdDropdown">ChangeID</a></li>
				<li><a href="#modal-3" rel="tooltip" data-placement="right" data-toggle="modal" id="extendedOperationDropdown">Extended Operation</a></li>
				<li><a href="#modal-4" rel="tooltip" data-placement="right" data-toggle="modal" id="SearchAllButton">Search All</a></li>

			</ul>
</li>
</ul>
</div>
</div>
</div>
<p style="display: none;">with View<select id="viewType" name="viewType" style="display: none;"></select></p>




