<div class="span17 horizontal">
<ul class="clearfix">
<li>Bulk Order States</li>
<li>	<select class="combo" id = "orderMgmtFilterDiv">
							<option selected value="NEW"><%=NEW%></option>
							<option value="EXECUTING"><%=EXECUTING%></option>
							<option value="SUCCESS"><%=SUCCESS%></option>
							<option value="FAILED"><%=FAILED%></option>
							<option value="CANCELLED"><%=CANCELLED%></option>
							<option value="PARTIAL_SUCCESS"><%=PARTIAL_SUCCESS%></option>
							<option value="CANCEL_PENDING"><%=CANCEL_PENDING%></option>
							<option value="SCHEDULED"><%=SCHEDULED%></option>
							<option value="SCHEDULABLE"><%=SCHEDULABLE%></option>
							<option value="UNKNOWN"><%=UNKNOWN%></option>
							<option value="ALL"><%=ALL%></option>
							<option value="DSA_SEARCHCOMPLETE"><%=DSA_SEARCHCOMPLETE%></option>
							<option value="DSA_SEARCHINCOMPLETE"><%=DSA_SEARCHINCOMPLETE%></option>
							<option value="SEARCH_COMPLETE"><%=SEARCH_COMPLETE%></option>

						</select>
</li>
</ul>
</div>

<div class="span6">
	<div class="box-content">
				<form class="form-condensed">
					<fieldset>
						<label class="checkbox styled">
						<input type="checkbox" id = "reloadBulkOrders" name="reloadBulkOrders"></input>
						<span></span><span class="checkboxlabel">Auto Refresh</span>
				</label>
					</fieldset>
				</form>
			</div>
</div>






