<div class="panel-section">
	<fieldset class="n-fieldset">
		<button type="button" class="btn btn-standard"
			ng-click="funcCreateSubscriber('add', 'subscriber')"
			value="submit" name="btACDataAdd">Submit</button>
		<button type="button" class="btn btn-standard" 
			value="Delete" name="btACDataAdd">Cancel</button>
		<button type="button" class="btn btn-standard"
			ng-click="funcModifySubscriber('modify', 'subscriber')"
			value="submit" name="btACDataAdd">Update</button>
		<button type="button" class="btn btn-standard"
			ng-click="funcDeleteSubscriber('delete', 'subscriber')"
			value="submit" name="btACDataAdd">Delete</button>
	</fieldset>
</div>



