<div class="panel panel-shadow">

	<fieldset class="n-fieldset">
		<label class="col-sm-4 control-label">IMSI<font color="red">*</font>:
		</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.imsi" name="imsi"
				value="{{aucData.imsi = local.acMcc + local.acMnc + local.acMsin}}"
				disabled style="padding-bottom: 10px" />
		</div>
		<label class="col-sm-4 control-label">Mobile Country
			Code(MCC):</label>
		<div class="col-sm-8">
			<select ng-model="local.acMcc" ng-options="a for a in config.mccTable">
			</select>
		</div>

		<label class="col-sm-4 control-label">Mobile Network
			Code(MNC):</label>
		<div class="col-sm-8">
			<select ng-model="local.acMnc" ng-options="b for b in config.mncTable">
			</select>
		</div>

		<label class="col-sm-4 control-label">Mobile Subscriber
			Identification(MSIN):</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="local.acMsin" name="msin" style="padding-bottom: 10px" />

		</div>

		<label class="col-sm-4 control-label">Encrypted
			Authentication Key<font color="red">*</font>:
		</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.encKey" name="encKey" style="padding-bottom: 10px" maxlength="32"/>
		</div>

		<label class="col-sm-4 control-label">ICC ID:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.iccId" name="iccId" style="padding-bottom: 10px" />
		</div>

		<label class="col-sm-4 control-label">Check Value:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.cv" name="cv" style="padding-bottom: 10px" />
		</div>

		<label class="col-sm-4 control-label">Cryptographic Hash Code:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.hmac" name="hmac" style="padding-bottom: 10px" />
		</div>

		<label class="col-sm-4 control-label">DB-Key ID<font
			color="red">*</font>:
		</label>
		<div class="col-sm-8">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.kdbId" name="kdbId" style="padding-bottom: 10px" />
		</div>

		<label class="col-sm-4 control-label">Algorithm<font
			color="red">*</font>:
		</label>
		<div class="col-sm-2">
			<div class="radio">
				<input id="val1" type="radio" ng-model="aucData.acsub" value="1"
					onclick="check(this.id)"> <label for="val1">GSM</label>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="radio">
				<input id="val2" type="radio" ng-model="aucData.acsub" value="FALSE"
					onclick="check(this.id)"> <label for="val2">UMTS</label>
			</div>
		</div>

		<label class="col-sm-4 control-label">GSM algorithm version:</label>
		<div class="col-sm-8" style="padding-bottom: 10px">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.algoId" id="gsmAlgo" name="gsmAlgo"
				disabled="true" />

		</div>

		<label class="col-sm-4 control-label">UMTS algorithm version:</label>
		<div class="col-sm-8" style="padding-bottom: 10px">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.umtsAlgo" id="umtsAlgo" name="umtsAlgo"
				disabled="true" />

		</div>

		<label class="col-sm-4 control-label">AMF:</label>
		<div class="col-sm-8" style="padding-bottom: 10px">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.amf" id="amf" name="amf" disabled="true" />

		</div>

		<label class="col-sm-4 control-label">SQN:</label>
		<div class="col-sm-8" style="padding-bottom: 10px">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.sqn" id="sqn" name="sqn" disabled="true" />

		</div>

		<label class="col-sm-4 control-label">Encrypted OPC:</label>
		<div class="col-sm-8" style="padding-bottom: 10px">
			<input type="text" class="form-control n-inputfield"
				ng-model="aucData.opcEncKey" id="opcEncKey" name="opcEncKey"
				disabled="true" />

		</div>
	</fieldset>
	<fieldset class="n-fieldset">
		<button type="button" class="btn btn-standard"
			ng-click="funcSaveAucData()" value="Save" name="btACDataAdd">Save</button>
		<button type="button" class="btn btn-standard"
			ng-click="cleanFields()" value="Cancel" name="btACDataAdd">Cancel</button>
	</fieldset>

</div>
